* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  padding: 2rem;
}

#info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#info div {
  padding: 3rem;
  background: rgb(9, 60, 227);
  margin: 0.5rem;
  border-radius: 10px;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
}
